<div mat-dialog-title class="text-center">{{'New round' | translate}}</div>
<mat-divider class="w-50 mx-auto"></mat-divider>
<div class="text-center title">{{'Group count' | translate}}</div>
<div class="text-center subtitle">{{ 'GroupCountMsg' | translate}}</div>
<div mat-dialog-content class="px-0">
    <i (click)="decrementGroups()" class="material-icons">
        remove
    </i>
    <div class="number">{{groupsNumber}}</div>
    <i (click)="incrementGroups()" class="material-icons "> add
    </i>
</div>
<mat-divider></mat-divider>
<div class="text-center title">{{'Round number' | translate}}</div>
<div mat-dialog-content class="px-0">
    <i (click)="decrement()" class="material-icons">
        remove
    </i>
    <div class="number">{{roundNumber}}</div>
    <i (click)="increment()" class="material-icons "> add
    </i>
</div>
<div class="buttons mt-4">
    <button mat-raised-button class="theme-accent" (click)="close(true)">{{'Start' | translate}}</button>
    <button mat-raised-button class="theme-primary-light" (click)="close(false)" cdkFocusInitial>{{'Cancel' | translate}}</button>
</div>