<div class="container mt-5">
    <mat-checkbox checked="true" disabled=true; color="warn">
        ROUND CANCELED
    </mat-checkbox>
</div>
<mat-toolbar color="primary">
    <div class="nav-panel">
        <i class="material-icons" (click)=prevRound()>
      keyboard_arrow_left
    </i>
        <span>
      ROUND {{roundNumber}}
    </span>
        <i class="material-icons" (click)=nextRound()>
      keyboard_arrow_right
    </i>
    </div>
</mat-toolbar>
<div class="content">
    <app-score [title]="'SCORE'"></app-score>
</div>