.nav-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    width: 100%;
    max-width: 800px;
}

mat-toolbar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    justify-content: center;
}

i {
    font-size: 80px;
    user-select: none;
}

i:hover {
    cursor: pointer;
}

span {
    margin-left: 5px;
    margin-right: 5px;
}

button {
    height: 60px;
    width: 250px;
    font-size: 30px;
}

.content {
    margin-bottom: 100px;
}