.title {
    font-size: 150%;
    font-weight: bold;
    color: #ffd740;
    text-shadow: 2px 2px 25px black !important;
}

.date {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding-right: 20px;
    background-color: white;
    color: #000;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, .87) !important;
    border-radius: 20px;
}

.time {
    font-size: 200%;
}

.cog {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: ease-out 0.4s;
}

.cog:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.2);
}

.material-icons {
    color: #ffd740;
    font-size: 64px;
    text-shadow: 2px 2px 25px rgba(0, 0, 0, .87) !important;
}

.wind {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 180%;
    width: 100%;
    padding-left: 10px;
}


/*---- ANGULAR MATERIAL OVERRIDE ----*/

mat-toolbar {
    position: fixed !important;
    top: 0px !important;
    z-index: 1000;
    align-items: center;
}

mat-toolbar-row {
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 0;
    width: 100%;
    max-width: 1000px;
    height: 128px;
}


/*---- RESPONSIVE ----*/

.small {
    display: none;
}

@media screen and (max-width: 750px) {
    mat-toolbar-row {
        font-size: 80%;
    }
    .cog {
        padding: 10px;
    }
    .material-icons {
        font-size: 48px;
    }
    .wind {
        font-size: 150%;
    }
}

@media screen and (max-width: 600px) {
    mat-toolbar-row {
        font-size: 75%;
        align-items: center;
        flex-direction: column;
        padding-left: 4px;
        padding-bottom: 6px;
    }
    .title {
        width: 100%;
    }
    .material-icons {
        font-size: 36px;
    }
    .cog {
        padding: 6px;
    }
    .wind {
        font-size: 150%;
        width: 100%;
        padding-left: 5px;
        justify-content: space-between;
    }
    .large {
        display: none;
    }
    .small {
        display: flex;
        padding: 0;
    }
}

@media screen and (max-width: 360px) {
    .date {
        font-size: 60%;
    }
    .wind {
        font-size: 130% !important;
    }
}