.time {
    font-size: 64px;
    margin-bottom: 0;
}

.date {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.days {
    margin-bottom: 8px;
}

.cog {
    padding: 20px;
    display: flex;
    align-items: center;
    transition: ease-out 0.4s;
}

.cog:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.2);
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding-right: 0;
    max-width: 1200px;
}

i {
    color: #ffd740;
    font-size: 64px;
    text-shadow: 2px 2px 25px rgba(0, 0, 0, .87);
}

mat-toolbar {
    position: fixed !important;
    top: 0px !important;
    z-index: 1000;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    display: flex;
    align-items: center;
}