<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="date">
            <p class="title"><i>COMPETITION</i></p>
            <div>
                <p class="days">{{ now | date:'dd.MM.yyyy'}}</p>
                <p class="time">{{ now | date:'HH:mm:ss'}}</p>
            </div>
        </div>
        <app-wind class="wind"></app-wind>
        <div (click)="openSettings()" class="cog">
            <i class="material-icons">
                    settings
                </i>
        </div>
    </mat-toolbar-row>
</mat-toolbar>