<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="content" [ngClass]="event.eventName=='---' ? 'justify-content-center' : ''">
            <div class="title" *ngIf="event.eventName!='---'"><i>'{{event.eventName}}'</i></div>
            <div class="wind">
                <div class="date">
                    <div>
                        {{ now | date:'dd.MM.yyyy'}}
                    </div>
                    <div style="font-size:150%">
                        {{ now | date:'HH:mm:ss'}}
                    </div>
                </div>
                <app-wind></app-wind>
                <div (click)="openSettings()" class="cog">
                    <i class="material-icons">
                        settings
                    </i>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>