<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangeTab($event, matTabGroup)" animationDuration="0" #matTabGroup>
    <mat-tab label="Score">
        <div class="tab-content">
            <app-score [title]="'GENERAL SCORE'"></app-score>
        </div>
    </mat-tab>
    <mat-tab label="Browse rounds">
        <div class="tab-content">
            <app-browse></app-browse>
        </div>
    </mat-tab>
    <mat-tab *ngIf="started" label="Round no. 1">
        <div class="tab-content">
            <app-round (finished)="finishRound($event, matTabGroup)"></app-round>
        </div>
    </mat-tab>
    <mat-tab *ngIf="!started && switch" label="[Start new round]">
        <div class="tab-content">
        </div>
    </mat-tab>
    <mat-tab *ngIf="!started && !switch" label="[Start new round]">
        <div class="tab-content">
        </div>
    </mat-tab>
</mat-tab-group>