<div class="content">
    <div class="settings">
        <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="left" checked>
                <p>Connection</p>
            </mat-button-toggle>
            <mat-button-toggle value="center">
                <p>Application</p>
            </mat-button-toggle>
            <mat-button-toggle value="right">
                <p>Visuals</p>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="settings-text">
            <div *ngIf="group.value=='left'">
                <form class="form">
                    <mat-form-field>
                        <mat-label>Vault login</mat-label>
                        <input matInput placeholder="example@mail.com" value="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Vault password</mat-label>
                        <input matInput placeholder="" value="" type="password">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Event ID</mat-label>
                        <input matInput placeholder="" value="1809">
                    </mat-form-field>
                </form>
            </div>
            <div *ngIf="group.value=='center'">
                Application options
            </div>
            <div *ngIf="group.value=='right'">
                Visual options
            </div>
        </div>
    </div>
    <div class="buttons">
        <button mat-raised-button color="accent" (click)="save()">Save</button>
        <button mat-raised-button color="warn" (click)="close()">Close</button>
    </div>
</div>