<div class="content">
    <div class="settings">
        <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="center" checked>
                <p>Application</p>
            </mat-button-toggle>
            <mat-button-toggle value="left" *ngIf="!noEvent">
                <p>Connection</p>
            </mat-button-toggle>
            <mat-button-toggle value="right">
                <p>Visuals</p>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="settings-text">
            <div *ngIf="group.value=='left'">
                <div class="form">
                    <app-connection-settings [(settings)]="settings"></app-connection-settings>
                </div>
            </div>
            <div *ngIf="group.value=='center'">
                <button mat-raised-button class="theme-accent theme-disabled w-50" (click)="finishEvent()" *ngIf="noEvent" disabled>FINISH
                    EVENT</button>
                <button mat-raised-button class="theme-accent w-50" (click)="finishEvent()" *ngIf="!noEvent">FINISH
                        EVENT</button>
            </div>
            <div *ngIf="group.value=='right'">
                <button mat-raised-button class="theme-accent w-50" (click)="toggleTheme()">SWITCH THEME</button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="buttons mt-4">
        <button mat-raised-button class="theme-accent" (click)="save()">SAVE</button>
        <button mat-raised-button class="theme-primary-light" (click)="close()">CLOSE</button>
    </div>
</div>