mat-sidenav-content {
    height: 400px;
}

mat-button-toggle-group {
    flex-direction: column;
    font-size: larger;
}

button {
    width: 200px;
    height: 50px;
    font-size: 25px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.settings {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.settings-text {
    margin-left: 50px;
    margin-top: 20px;
}