<div class="content">
    <div class="settings">
        <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="center" checked>
                <p>{{'Application' | translate}}</p>
            </mat-button-toggle>
            <mat-button-toggle value="left" *ngIf="!noEvent">
                <p>{{'Connection' | translate}}</p>
            </mat-button-toggle>
            <mat-button-toggle value="right">
                <p>{{'Visuals' | translate}}</p>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="settings-text">
            <div *ngIf="group.value=='left'">
                <div class="form">
                    <app-connection-settings [(settings)]="settings"></app-connection-settings>
                </div>
            </div>
            <div *ngIf="group.value=='center'">
                <div class="d-flex flex-column">
                    <button mat-raised-button class="theme-accent w-75 mb-4" (click)="connect()">{{'Connect device' | translate}}</button>
                    <button mat-raised-button class="theme-accent theme-disabled w-75" (click)="finishEvent()" *ngIf="noEvent" disabled>{{'Finish event' | translate}}</button>
                    <button mat-raised-button class="theme-accent w-75" (click)="finishEvent()" *ngIf="!noEvent">{{'Finish event' | translate}}</button>
                    <button mat-raised-button class="theme-accent w-75 mt-4" (click)="signOut()">{{'Sign Out' | translate}}</button>
                </div>
            </div>
            <div *ngIf="group.value=='right'">
                <button mat-raised-button class="theme-accent w-50" (click)="toggleTheme()">{{'Switch theme' | translate}}</button>
                <mat-form-field class="w-75 mt-4">
                    <mat-label>{{'Select language' | translate}}</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let lang of languages" (click)="toggleLang(lang)" [value]="lang">
                            {{lang | uppercase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="buttons mt-4">
        <button mat-raised-button class="theme-accent" (click)="save()">{{'Save' | translate}}</button>
        <button mat-raised-button class="theme-primary-light" (click)="close()">{{'Close' | translate}}</button>
    </div>
</div>