<div class="d-flex flex-column align-items-center w-100" [ngClass]="{'theme-disabled' : canceled}">
    <div class="container">
        <!-- <mat-checkbox [(ngModel)]="canceled" color="warn" (click)="cancelRound()">
            ROUND CANCELED
        </mat-checkbox> -->
        <!-- <i class="material-icons" (click)="changeMode()">
                <span *ngIf="!editMode">lock</span>
                <span *ngIf="editMode"> lock_open</span>
            </i> -->
        <!-- <mat-checkbox color="warn" [(ngModel)]="isRoundCanceled" (click)="cancelRound()">
                ROUND CANCELED
            </mat-checkbox> -->
        <div class="cancel-title" *ngIf="canceled">
            ROUND CANCELED
        </div>
        <span></span>
        <button mat-raised-button class="w-25 theme-accent cancel-button" [matMenuTriggerFor]="menu">CANCEL</button>
    </div>
    <div class="content w-100">
        <div class="w-100">
            <app-score [dataSource]="pilotsFinished" (rowClickAction)="null" (rowPressAction)="reflight($event)">
            </app-score>
        </div>
        <mat-toolbar color="primary" *ngIf="!noMorePilotsLeft">
            <mat-toolbar-row class="to-start">
                <div class="title">YET TO START</div>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="to-start-score w-100">
            <app-score [mode]="'yetToStart'" class="w-100" (rowClickAction)="createFlight($event)" [dataSource]="pilotsLeft"></app-score>
        </div>
    </div>
    <button mat-raised-button class="finish-button theme-accent" (click)="finishRound()" *ngIf="noMorePilotsLeft || canceled">FINISH</button>
</div>
<mat-menu #menu="matMenu">
    <button class="option-button" mat-menu-item (click)="cancelRound()">ROUND</button>
    <button class="option-button color-a" mat-menu-item (click)="cancelGroup('A')" *ngIf="groupCount>1">GROUP A</button>
    <button class="option-button color-b" mat-menu-item (click)="cancelGroup('B')" *ngIf="groupCount>1">GROUP B</button>
    <button class="option-button color-c" mat-menu-item (click)="cancelGroup('C')" *ngIf="groupCount>2">GROUP C</button>
    <button class="option-button color-d" mat-menu-item (click)="cancelGroup('D')" *ngIf="groupCount>3">GROUP D</button>
    <button class="option-button color-e" mat-menu-item (click)="cancelGroup('E')" *ngIf="groupCount>4">GROUP E</button>
</mat-menu>