<div class="container">
    <div class="content">
        <form class="w-100 d-flex justify-content-center">
            <mat-form-field>
                <mat-label>EVENT ID</mat-label>
                <input matInput [(ngModel)]="event.eventId" name="eventId">
            </mat-form-field>
        </form>
        <button mat-raised-button class="color-accent" (click)="startEvent()">Start</button>
        <button mat-raised-button class="mt-5 color-danger" (click)="deleteEvent()">Delete</button>
    </div>
</div>