/* You can add global styles to this file, and also import other style files */

:root {
    --bg-primary: #47A3FF;
    --bg-accent: #FFEE93;
    --bg-success: #90FFDC;
    --bg-danger: #FF928B;
    --bg-info: #7A7978;
    --background: linear-gradient(to bottom, #FFFFFF 192px, #ECE9E6) fixed;
    --tx-primary: white;
    --group-a: #9CBFFF;
    --group-b: #FFB5A8;
    --group-c: #8FF2FF;
    --group-d: #FFD375;
    --group-e: #82FFC8;
}

html,
body {
    height: 100%;
    background: var(--background) !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

.container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

mat-dialog-container {
    background: var(--background) !important;
    border-radius: 20px !important;
}

button {
    border-radius: 20px !important;
}

button:focus {
    outline: none !important;
}

.mat-toolbar-row {
    background: var(--bg-primary) !important;
    color: var(--tx-primary);
}

.color-primary {
    background: var(--bg-primary) !important;
    color: var(--tx-primary) !important;
}

.color-accent {
    background: var(--bg-accent) !important;
}

.color-danger {
    background: var(--bg-danger) !important;
}

.color-success {
    background: var(--bg-success) !important;
}

.color-a {
    background: var(--group-a);
}

.color-b {
    background: var(--group-b);
}

.color-c {
    background: var(--group-c);
}

.color-d {
    background: var(--group-d);
}

.color-e {
    background: var(--group-e);
}