<div class="content px-1" *ngIf="editMode; else notEdit">
    <div class="d-flex justify-content-between flex-column">
        <div class="d-flex align-items-center justify-content-center">
            <div class="name">
                <strong>
                    {{pilot.pilotBib}}
                </strong> {{pilot.lastName | uppercase}} {{pilot.firstName | uppercase}}
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="py-1">
        <div class="d-flex my-1 justify-content-around">
            <div class="wind averages">
                {{'AvgSpd' | translate}} <input class="w-25 text-right" autocomplete="off" matInput [(ngModel)]="flight.windAvg"> m/s <br> {{'AvgDir' | translate}} <input class="w-25 text-right" autocomplete="off" matInput [(ngModel)]="flight.dirAvg">°
            </div>
        </div>
    </div>
    <div>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="text-center w-100 title">
                    {{'Total seconds' | translate}}
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="text-center font-weight-bolder value">
            <input autocomplete="off" matInput [(ngModel)]="flight.seconds">
        </div>
    </div>
    <div *ngIf="groupsCount>1">
        <mat-divider></mat-divider>
        <div class="groups" *ngIf="groupsCount>1">
            <div class="data">
                <div *ngFor="let group of groups | slice:0:groupsCount">
                    <button mat-raised-button class="group-button" [ngClass]="{'color-a' : group=='A','color-b' : group=='B','color-c' : group=='C','color-d' : group=='D','color-e' : group=='E', 'theme-primary' : currentGroup==group}" (click)="changeGroup(group) " *ngIf="editMode ">{{group}}</button>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="second-div ">
        <div class="bar1 ">
            <table>
                <tr>
                    <th>CT</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub1"></td>
                </tr>
                <tr>
                    <th>B1</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub2"></td>
                </tr>
                <tr>
                    <th>B2</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub3"></td>
                </tr>
                <tr>
                    <th>B3</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub4"></td>
                </tr>
                <tr>
                    <th>B4</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub5"></td>
                </tr>
                <tr>
                    <th>B5</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub6"></td>
                </tr>
                <tr>
                    <th>B6</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub7"></td>
                </tr>
                <tr>
                    <th>B7</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub8"></td>
                </tr>
                <tr>
                    <th>B8</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub9"></td>
                </tr>
                <tr>
                    <th>B9</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub10"></td>
                </tr>
                <tr>
                    <th>B10</th>
                    <td><input autocomplete="off" matInput [(ngModel)]="flight.sub11"></td>
                </tr>

            </table>
        </div>
        <div class="bar2 ">
            <div class="input pt-1 ">
                <mat-form-field class="d-flex flex-column form " color="warn">
                    <mat-label>{{'Penalty' | translate}}</mat-label>
                    <input autocomplete="off" matInput color="warn" [(ngModel)]="flight.penalty">
                </mat-form-field>
            </div>
            <div class="buttons ">
                <button mat-raised-button *ngIf="flight.dnf " class="theme-primary " (click)="didNotFinish() ">DNF</button>
                <button mat-raised-button *ngIf="!flight.dnf " class="theme-primary-light " (click)="didNotFinish() ">DNF</button>
                <button mat-raised-button *ngIf="flight.dns " class="theme-primary " (click)="didNotStart() ">DNS</button>
                <button mat-raised-button *ngIf="!flight.dns " class="theme-primary-light " (click)="didNotStart() ">DNS</button>
            </div>
            <div class="buttons ">
                <button mat-raised-button class="theme-accent" (click)="closeThisDialog() ">{{'Cancel' | translate}}</button>
                <button mat-raised-button class="theme-accent" (click)="saveFlight() " cdkFocusInitial>{{'Save' | translate}}</button>
            </div>
        </div>
    </div>
</div>



<ng-template #notEdit>
    <div class="content">
        <div class="d-flex justify-content-between flex-column">
            <div class="d-flex align-items-center justify-content-center">
                <div class="name">
                    <strong>
                        {{pilot.pilotBib}}
                    </strong> {{pilot.lastName | uppercase}} {{pilot.firstName | uppercase}}
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="py-1">
            <div class="d-flex my-1 justify-content-around">
                <div class="d-flex flex-column justify-content-center  w-25 wind clock-icon">
                    <i class="material-icons" [ngStyle]="{'color' : isConnectedColor()}">
                        {{_clockService.isConnected() ? 'alarm_on' : 'alarm_off'}}
                    </i>
                </div>
                <app-wind class="wind w-50"></app-wind>
                <div class="w-25 wind averages">
                    AVG: {{this.flight.windAvg}} m/s <br> AVG: {{this.flight.dirAvg}}°
                    <br>TEST W {{this.winds[this.winds.length-1]}} D{{this.dirs[this.dirs.length-1]}}
                </div>
            </div>
        </div>
        <div>
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <div class="text-center w-100 title">
                        {{title | translate}}
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="d-flex flex-row justify-content-between">
                <div class="text-center font-weight-bolder value w-100">
                    {{value }}
                </div>
            </div>
        </div>
        <div *ngIf="groupsCount>1">
            <mat-divider></mat-divider>
            <div class="groups" *ngIf="groupsCount>1">
                <div class="data h-100">
                    <div *ngFor="let group of groups | slice:0:groupsCount">
                        <button mat-raised-button class="group-button" [ngClass]="{'color-a' : group=='A','color-b' : group=='B','color-c' : group=='C','color-d' : group=='D','color-e' : group=='E', 'theme-primary' : currentGroup==group}" (click)="changeGroup(group)">{{group}}</button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="second-div ">
            <div class="bar1 ">
                <table>
                    <tr>
                        <th style="opacity: 0; border-left-color: rgba(255, 0, 0, 0); border-top-color: rgba(255, 0, 0, 0); ">
                        </th>
                        <td>{{'Best' | translate}}</td>
                    </tr>
                    <tr>
                        <th>CT</th>
                        <td>{{bestFlight.sub1 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub1 > 0}">{{flight.sub1 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B1</th>
                        <td>{{bestFlight.sub2 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub2 > 0}">{{flight.sub2 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B2</th>
                        <td>{{bestFlight.sub3 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub3 > 0}">{{flight.sub3 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B3</th>
                        <td>{{bestFlight.sub4 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub4 > 0}">{{flight.sub4 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B4</th>
                        <td>{{bestFlight.sub5 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub5 > 0}">{{flight.sub5 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B5</th>
                        <td>{{bestFlight.sub6 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub6 > 0}">{{flight.sub6 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B6</th>
                        <td>{{bestFlight.sub7 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub7 > 0}">{{flight.sub7 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B7</th>
                        <td>{{bestFlight.sub8 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub8 > 0}">{{flight.sub8 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B8</th>
                        <td>{{bestFlight.sub9 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub9 > 0}">{{flight.sub9 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B9</th>
                        <td>{{bestFlight.sub10 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub10 > 0}">{{flight.sub10 | number : '1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>B10</th>
                        <td>{{bestFlight.sub11 | number : '1.1-1'}}</td>
                        <td [ngClass]="{'green' : flight.sub11 > 0}">{{flight.sub11 | number : '1.1-1'}}</td>
                    </tr>

                </table>
            </div>
            <div class="bar2 ">
                <div class="input pt-1 ">
                    <mat-form-field class="d-flex flex-column form " color="warn">
                        <mat-label>{{'Penalty' | translate}}</mat-label>
                        <input autocomplete="off" matInput color="warn" [(ngModel)]="flight.penalty">
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <button mat-raised-button *ngIf="flight.dnf " [ngClass]="{'theme-primary' : dnsDnf, 'theme-disabled' : (!dnsDnf || finished)}" [disabled]="!dnsDnf || finished" (click)="didNotFinish()">DNF</button>
                    <button mat-raised-button *ngIf="!flight.dnf " [ngClass]="{'theme-primary-light' : dnsDnf, 'theme-disabled' : (!dnsDnf || finished)}" [disabled]="!dnsDnf || finished" (click)="didNotFinish()">DNF</button>
                    <button mat-raised-button *ngIf="flight.dns " [ngClass]="{'theme-primary' : !dnsDnf, 'theme-disabled' : dnsDnf}" [disabled]="dnsDnf" (click)="didNotStart() ">DNS</button>
                    <button mat-raised-button *ngIf="!flight.dns " [ngClass]="{'theme-primary-light' : !dnsDnf, 'theme-disabled' : dnsDnf}" [disabled]="dnsDnf" (click)="didNotStart() ">DNS</button>
                </div>
                <div class="buttons ">
                    <button mat-raised-button class="theme-accent" (click)="closeThisDialog() ">{{'Cancel' | translate}}</button>
                    <button mat-raised-button [ngClass]="{'theme-accent' : finished, 'theme-disabled' : !finished}" [disabled]="!finished" (click)="saveFlight()" (press)="callPressAction()" cdkFocusInitial>{{'Save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>