table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th,
mat-header-cell {
    font-size: 25px;
    text-align: center !important;
}

td,
mat-cell {
    font-size: 20px;
    text-align: center !important;
}