<mat-divider></mat-divider>
<div class="d-flex align-items-center flex-column w-100">
    <div *ngFor="let pilot of dataSource" class="rows" matRipple (click)="callRowAction(pilot)">
        <div class="pilot-row ">
            <div class="number">
                {{pilot.pilotBib}}
            </div>
            <div class="d-flex flex-column w-100">
                <div class="title">{{pilot.number}} {{pilot.lastName | uppercase}} {{pilot.firstName}}</div>
                <div class="data" *ngIf="mode != 'yetToStart'">
                    <div class="d-flex w-100 justify-content-around">
                        <div class="data-field">
                            <div class="semi-title">TOTAL</div>
                            <mat-divider></mat-divider>
                            <div class="score">9999</div>
                        </div>
                        <div class="data-field">
                            <div class="semi-title">RESULT</div>
                            <mat-divider></mat-divider>
                            <div class="score">9999</div>
                        </div>
                        <div class="data-field">
                            <div class="semi-title">PENALTY</div>
                            <mat-divider></mat-divider>
                            <div class="score">9999</div>
                        </div>
                        <div class="data-field" *ngIf="mode == 'general'">
                            <div class="semi-title">DISCARD 1</div>
                            <mat-divider></mat-divider>
                            <div class="score">9999</div>
                        </div>
                        <div class="data-field" *ngIf="mode == 'general'">
                            <div class="semi-title">DISCARD 2</div>
                            <mat-divider></mat-divider>
                            <div class="score">9999</div>
                        </div>
                        <div class="data-field" *ngIf="mode != 'general'">
                            <div class="semi-title">STATUS</div>
                            <mat-divider></mat-divider>
                            <div class="score">9999</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group" *ngIf="mode !='general' && mode !='yetToStart'  ">
                {{pilot.flight.group}}
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>