<mat-divider></mat-divider>
<div class="d-flex align-items-center flex-column w-100">
    <div *ngFor="let pilot of dataSource" class="rows" matRipple (click)="callRowAction(pilot)">
        <div class="pilot-row ">
            <div class="number">
                {{pilot.pilotBib}}
            </div>
            <div class="d-flex flex-column w-100">
                <div class="title">{{pilot.flight ? pilot.flight.order : null}} {{pilot.lastName | uppercase}} {{pilot.firstName}}</div>
                <div class="data" *ngIf="mode != 'yetToStart'">
                    <div class="d-flex w-100 justify-content-around">
                        <div class="data-field" *ngIf="!pilot.flight">
                            <div class="semi-title">TOTAL</div>
                            <mat-divider></mat-divider>
                            <div class="score">{{pilot.score.toFixed(2)}}</div>
                        </div>
                        <div class="data-field" *ngIf="pilot.flight">
                            <div class="semi-title">RESULT</div>
                            <mat-divider></mat-divider>
                            <div class="score" *ngIf="pilot.flight.score">{{pilot.flight.score.toFixed(2)}}</div>
                            <div class="score" *ngIf="!pilot.flight.score">---</div>
                        </div>
                        <div class="data-field" *ngIf="pilot.flight">
                            <div class="semi-title">SECONDS</div>
                            <mat-divider></mat-divider>
                            <div class="score">{{pilot.flight.seconds}}</div>
                        </div>
                        <div class="data-field" *ngIf="pilot.flight">
                            <div class="semi-title">PENALTY</div>
                            <mat-divider></mat-divider>
                            <div class="score" *ngIf="pilot.flight">{{pilot.flight ? pilot.flight.penalty : "---"}}</div>
                            <div class="score" *ngIf="!pilot.flight">{{pilot.penalty ? pilot.penalty : "---"}}</div>
                        </div>
                        <div class="data-field" *ngIf="mode == 'general' ">
                            <div class="semi-title">DISCARD 1</div>
                            <mat-divider></mat-divider>
                            <div class="score">{{pilot.discarded1 ? pilot.discarded1 : "---"}}</div>
                        </div>
                        <div class="data-field" *ngIf="mode == 'general'">
                            <div class="semi-title">DISCARD 2</div>
                            <mat-divider></mat-divider>
                            <div class="score">{{pilot.discarded2 ? pilot.discarded2 : "---"}}</div>
                        </div>
                        <div class="data-field" *ngIf="mode != 'general' && pilot.flight">
                            <div class="semi-title">STATUS</div>
                            <mat-divider></mat-divider>
                            <div class="score" *ngIf="pilot.flight.dnf">DNF</div>
                            <div class="score" *ngIf="pilot.flight.dns">DNS</div>
                            <div class="score" *ngIf="!pilot.flight.dnf && !pilot.flight.dns">FINISHED</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group" *ngIf="mode !='general' && mode !='yetToStart' && pilot.flight">
                {{pilot.flight.group}}
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>