table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    justify-content: center;
}

th,
mat-header-cell {
    font-size: 25px;
    text-align: center !important;
}

td,
mat-cell {
    font-size: 20px;
    text-align: center !important;
}

.rippled-row {
    transition: 0.2s ease-out;
}

.rippled-row:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 20px;
    background-color: rgb(255, 234, 115);
    z-index: 1000;
}