<app-toolbar></app-toolbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 ">
      <div class="display-4 w-100 text-center">
        {{isLoginMode ? 'Login Form' : 'Create Account' | translate}}
      </div>
      <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">

        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="username" id="username" ngModel name="username" #username="ngModel" required />
        </mat-form-field>

        <mat-form-field *ngIf="!isLoginMode">
          <mat-label for="email">E-Mail</mat-label>
          <input matInput type="email" id="email" ngModel name="email" #email="ngModel" email required />
          <mat-error *ngIf="email.invalid && email.errors.email && email.touched && !email.errors.required ">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email.invalid && email.errors.required && email.touched">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" id="password" ngModel name="password" #password="ngModel" required>
            <mat-error *ngIf="password.invalid && password.errors.required && password.touched">
              Password is required
            </mat-error>
        </mat-form-field>


        <mat-form-field *ngIf="!isLoginMode">
          <mat-label for="confirmPassword">Confirm Password</mat-label>
          <input matInput type="password" id="confirmPassword" ngModel #confirmPassword="ngModel" name="confirmPassword"
            required>
          <mat-error *ngIf="confirmPassword.invalid && confirmPassword.errors.required && confirmPassword.touched">
            Confirm your password
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-raised-button class="theme-accent" type="submit"
            [disabled]=!f.valid>{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
          <button mat-raised-button class="theme-accent" type="button" (click)="onSwitchMode()">
            {{ isLoginMode ? 'Create account' : 'Go to login'}}</button>
        </div>
      </form>

    </div>
  </div>
</div>
