<div class="d-flex flex-column settings">
    <mat-form-field>
        <mat-label>{{'Login' | translate}}</mat-label>
        <input autocomplete="off" matInput placeholder="example@mail.com" [(ngModel)]="settings.login">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'Password' | translate}}</mat-label>
        <input autocomplete="off" matInput placeholder="" [(ngModel)]="settings.password" type="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'ApiUrl' | translate}}</mat-label>
        <input autocomplete="off" matInput placeholder="" [(ngModel)]="settings.apiUrl">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'Event ID' | translate}}</mat-label>
        <input autocomplete="off" matInput placeholder="" [(ngModel)]="settings.eventId" *ngIf="disabled" disabled>
        <input autocomplete="off" matInput placeholder="" [(ngModel)]="settings.eventId" *ngIf="!disabled">
    </mat-form-field>
</div>